---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/Hero.astro";
import logo from "@/assets/logoLarge.png";

import {formatDate} from "@/utils.js";

export async function getStaticPaths() {
    const groupEntries = await getCollection("research");
    return groupEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}  description={entry.data.summary} >
    <Hero badge={formatDate(entry.data.date) + (entry.data.group ? " • "+ entry.data.group.id : "")} >
        <Fragment slot="badge">
            
        </Fragment>

        <Fragment slot="title">
            {entry.data.title}
        </Fragment>

        <div>
            {entry.data.authors.length > 0 ? (
                <span>
                    By: {entry.data.authors.map((a) => a.name).join(", ")}
                </span>
            ) : (
                <span>RITSEC</span>
            )}
        </div>

        <div class="summary">
            {entry.data.summary}
        </div>
    </Hero>

    <Content />
</BaseLayout>

<style is:global>
    main > section > p {
        max-width: 100%;
    }

    main > section * {
        text-align: start;
    }

    main > section {
        --page-width: 90ch;
        --page-padding: max(1rem, (100% - var(--page-width)) / 2)
    }
</style>

<style>
    section {
        --page-width: 90ch;
        --page-padding: max(1rem, (100% - var(--page-width)) / 2)
    }

    .summary {
        margin-top: var(--padding);
        font-style: italic;
    }
</style>
