---
import { Image } from "astro:assets";
import Hero from "@/components/Hero.astro";
import GroupCarousel from "@/components/GroupCarousel.astro";
import FeaturedEvent from "@/components/FeaturedEvent.astro";
import ShortSchedule from "@/components/ShortSchedule.astro";
import EventsList from "@/components/EventsList.astro";
import ResearchList from "@/components/ResearchList.astro";
import SponsorsList from "@/components/SponsorsList.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import heroImg from "@/assets/image2.jpg";

import { getCollection } from "astro:content";

const events = await getCollection("events");

const formatEventDate = (start, end) => {
    const checkOpts = { day: "numeric", timeZone: "UTC" };
    const isSameDay =
        new Intl.DateTimeFormat("en-US", checkOpts).format(start) ===
        new Intl.DateTimeFormat("en-US", checkOpts).format(end);

    const dateOpts = {
        timeZone: "UTC",
        month: "short",
        day: "numeric",
    };

    const timeOpts = {
        timeZone: "UTC",
        hour: "numeric",
        minute: "2-digit",
    };

    const isMidnight = (d) => d.getUTCHours() === 0 && d.getUTCMinutes() === 0;
    const hideTime = isMidnight(start) && isMidnight(end);

    if (isSameDay) {
        const date = new Intl.DateTimeFormat("en-US", dateOpts).format(start);

        if (hideTime) {
            return date;
        }

        const startTime = new Intl.DateTimeFormat("en-US", timeOpts).format(
            start,
        );
        const endTime = new Intl.DateTimeFormat("en-US", timeOpts).format(end);
        return `${date} • ${startTime} – ${endTime}`;
    } else {
        const startDate = new Intl.DateTimeFormat("en-US", dateOpts).format(
            start,
        );
        const endDate = new Intl.DateTimeFormat("en-US", dateOpts).format(end);
        return `${startDate} – ${endDate}`;
    }
};
---

<BaseLayout title="Events">
    <Hero
        image={heroImg}
        imageAlt="Letchworth State Park landscape"
        reverse="true"
    >
        <Fragment slot="title">
            Competitions and <strong>Events</strong>
        </Fragment>

        Attack. Defense. Response. Bridging the gap between theory and practice.
        Where students become security professionals.
    </Hero>

    {
        events.map(async (event) => {
            const { Content } = await event.render();

            return (
                <section>
                    <div class="content">
                        <h2 id={event.slug}>{event.data.title}</h2>
                        <div class="properties">
                            {event.data.start && event.data.end ? (
                                <time datetime={event.data.start.toISOString()}>
                                    {formatEventDate(
                                        event.data.start,
                                        event.data.end,
                                    )}
                                </time>
                            ) : (
                                <span>TBD</span>
                            )}
                            • {event.data.location} • {event.data.access}
                        </div>

                        <div class="stuff">
                            <Content />
                        </div>

                        {event.data.website && (
                            <a
                                class="link-button primary"
                                href={event.data.website}
                            >
                                VISIT WEBSITE
                            </a>
                        )}
                    </div>

                    <div class="image">
                        <Image
                            src={event.data.image}
                            width={800}
                            alt={"Picture of" + event.data.title}
                        />
                    </div>
                </section>
            );
        })
    }
</BaseLayout>

<style>
    h2 {
        line-height: 1.125;
        margin-bottom: 0;
    }

    section {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        gap: 2rem;
    }

    .stuff {
        margin-bottom: 1rem;
    }

    .properties {
        font-variant-numeric: tabular-nums;
        color: var(--fg);
        white-space: nowrap;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .image {
        padding: 0.5rem;
        outline: 2px solid var(--border);
        outline-offset: -1px;
        background-color: var(--bg-panel);
    }

    img {
        display: block;
        width: 100%;
        height: 290px;
        object-fit: cover;
        object-position: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .link-button {
        margin-top: auto;
    }

    @media (max-width: 1000px) {
        section {
            display: flex;
            flex-direction: column-reverse;
        }

        .content {
            align-items: center;
        }

        .image {
            margin-bottom: 0;
        }

        h2 {
            font-size: 1.75rem;
        }
    }
</style>
