---

/* I want there to be a header bar like Jules.google, with strong buttons.
 I like the design of the pixel art icons and the pixel-radius boxes
 Having a strong color scheme is cool.
 */

 /* 
  WiCyS
  OT Security
  Physical Security
  Vulnerability Research
  RVAPT
  Wireless
  Contagion
  Zero to Hero
  CCDC
  CPTC

  General
  Research
  ISTS
  IRSEC
  RITSEC CTF
  Mentorship
  Socials

  /home
  /schedule
  /publications
  /activites
  /about
  /sponsors
*/

import { Image } from 'astro:assets';
import logo from '@/assets/logo_large.png';
import Footer from '@/components/Footer.astro';

import image1 from '@/assets/slideshow_1.webp';
import image2 from '@/assets/slideshow_2.webp';
import image3 from '@/assets/slideshow_3.webp';
import image4 from '@/assets/slideshow_4.webp';
import image5 from '@/assets/slideshow_5.webp';
import image6 from '@/assets/slideshow_6.webp';

import arrow from '@/assets/arrow.png';
import education from '@/assets/education.png';
import ctf from '@/assets/ctf.png';
import ig from '@/assets/ig.png';
import irsec from '@/assets/irsec.png';
import ists from '@/assets/ists.png';
import mentorship from '@/assets/mentorship.png';
import research from '@/assets/research.png';

import Background from '@/components/Background.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <Background />

    <header>
      <div>
        <Image src={logo} alt="RITSEC Logo" height="64px" />
        <nav>
          <a href="/" aria-current="page">Home</a>
          <a href="/schedule">Schedule</a>
          <a href="/activites">Activites</a>
          <a href="/publications">Publications</a>
          <a href="/sponsors">Sponsors</a>
          <a href="/about">About</a>
        </nav>
      </div>
    </header>

    <main>
      <!-- I want the central text + images surrounding like sigpwny's website -->
      <!-- Then, I want there to be carousels for the activites/schedule stuff. -->
      <!-- A call to action to join -->
      <section class="intro">
        <div class="top-images">
          <Image src={image1} width="300px" height="200px" alt="" />
          <Image src={image2} width="300px" height="200px" alt="" />
          <Image src={image3} width="300px" height="200px" alt="" />
        </div>

        <div class="info">
          <h1>RITSEC</h1>
          <p>Security Through Community</p>
          <div>
            <a href="#about" class="link">About
              <Image src={arrow} height="18px" alt="" />
            </a>
            <a href="#get-involved" class="link">Get Involved
              <Image src={arrow} height="18px" alt="" />
            </a>
            <a href="#schedule" class="link">Schedule
              <Image src={arrow} height="18px" alt="" />
            </a>
          </div>
        </div>

        <div class="bottom-images">
          <Image src={image4} width="300px" height="200px" alt="" />
          <Image src={image5} width="300px" height="200px" alt="" />
          <Image src={image6} width="300px" height="200px" alt="" />
        </div>
      </section>

        <p class="center">
          (Scroll down for more information)
        </p>

        <section class="about">
          <h2 id="about">About RITSEC</h2>
          <p>RITSEC empowers the next generation of cybersecurity professionals through our core philosophy: Security Through Community. Whether you are writing your first line of code or are a seasoned competitor, we offer the resources, mentorship, and platform to showcase RIT talent on the global stage.</p>
          <div class="links">
            <a href="/" class='link'>Learn More About Us
              <Image src={arrow} height="18px" alt="" />
            </a>
          </div>
        </section>

        <section class="involved">
          <h2 id="get-involved">Get Involved</h2>
          <p>We foster the next generation of security leaders through a comprehensive suite of initiatives. We combine hands-on education, academic research, and industry-recognized competitions to drive technical growth and excillence.</p>
          <div class="links">
            <a class="link" href="https://discord.ritsec.club">Join Discord
              <Image src={arrow} height="18px" alt="" />
            </a>
            <a class="link" href="https://donate.ritsec.club">Sponsor Us
              <Image src={arrow} height="18px" alt="" />
            </a>
          </div>

          <!-- cards -->
          <!-- Competitions, Education, Sponsorship -->
          <div class="cards">
            <div class="card">
              <Image src={education} height="27px" alt="education" />
              <p class="card-header">Education</p>
              <p class="card-content">Weekly lessons into security trends, tools, and techniques to succeed.</p>
            </div>
            <div class="card">
              <Image src={research} height="27px" alt="education" />
              <p class="card-header">Research</p>
              <p class="card-content">Opportunities to study and present novel student-led research, often with stipend support.</p>
            </div>
            <div class="card">
              <Image src={irsec} height="27px" alt="education" />
              <p class="card-header">IRSEC</p>
              <p class="card-content">An introductory, student-run red-blue competition to build foundational blue-teaming skills.</p>
            </div>
            <div class="card">
              <Image src={ists} height="27px" alt="education" />
              <p class="card-header">ISTS</p>
              <p class="card-content">A battle of defense inviting top collegiate teams from across the nation to compete, hosted by RITSEC.</p>
            </div>
            <div class="card">
              <Image src={ctf} height="27px" alt="education" />
              <p class="card-header">RITSEC CTF</p>
              <p class="card-content">Our annual Capture the Flag competition attracting hundreds of teams worldwide.</p>
            </div>
            <div class="card">
              <Image src={ig} height="27px" alt="education" />
              <p class="card-header">Interest Groups</p>
              <p class="card-content">Specialized communities for students to teach and learn specific security disciplines together.</p>
            </div>
            <div class="card">
              <Image src={mentorship} height="27px" alt="education" />
              <p class="card-header">Mentorships</p>
              <p class="card-content">A program connecting students with upperclassmen for academic and career advice.</p>
            </div>
          </div>
        </section>

        <section class="schedule">
          <h2 id="schedule">Schedule</h2>
          <p>Stay connected with the community. Whether you are looking for our weekly general meetings, specific interest groups, or special workshops, find out where you can jump in and start learning.</p>
          <div class="card">
            <div class="event">
              <div>
                <div class="date">Fri Nov 21, 12:00 PM</div>
                <div class="type">Education</div>
              </div>
              <div>
                <div class="title">Artifical Intelligence</div>
                <div class="location">CYB-1710</div>
              </div>
              <div>
                <div class="hosts">Oleg, Adam</div>
              </div>
            </div>
            <div class="event">
              <div>
                <div class="date">Fri Nov 21, 12:00 PM</div>
                <div class="type">Education</div>
              </div>
              <div>
                <div class="title">Artifical Intelligence</div>
                <div class="location">CYB-1710</div>
              </div>
              <div>
                <div class="hosts">Oleg, Adam</div>
              </div>
            </div>
            <div class="event">
              <div>
                <div class="date">Fri Nov 21, 12:00 PM</div>
                <div class="type">Education</div>
              </div>
              <div>
                <div class="title">Artifical Intelligence</div>
                <div class="location">CYB-1710</div>
              </div>
              <div>
                <div class="hosts">Oleg, Adam</div>
              </div>
            </div>
          </div>
        </section>
    </main>

    <Footer />
  </body>
</html>

<style is:global>
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
  }
}

  .event {
    display: flex;
    padding: 1rem;
    border-bottom: 4px solid var(--orange-3);
    gap: 1rem;
    justify-content: space-between;
  }

  .date {
    align-self: flex-start;
  }

  .type {
    align-self: flex-end;
  }

  .title {
    align-self: flex-start;
  }

  .location {
    align-self: flex-end;
  }

  .hosts {
    align-self: flex-end;
  }

  .event > div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .about > p,
  .schedule > p {
    text-align: center;
    margin-top: 1rem;
  }

  .schedule > div {
    margin-top: 2rem;
  }

  .link img {
    margin-bottom: 4px;
  }

  .involved .card {
    max-width: 300px;
    padding: 2rem;
  }

  .card {
    display: block;
    background-color: var(--orange-2);
    clip-path: var(--path-lg);
    border: 4px solid var(--orange-3);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .card a {
    align-self: flex-start;
  }

  .card-content {
    flex-grow: 1;
  }

  .card:hover,
  .card:focus-within,
  .card:focus {
    background-color: var(--orange-3);
    border: 4px solid var(--orange-4);
  }

  .card-header {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .involved > .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
  }

  .involved > p {
    text-align: center;
    margin-top: 1rem;
  }

:root {
  --orange-1: #f6f5f3;
  --orange-2: #faeee4;
  --orange-3: #ffe3c8;
  --orange-4: #ffd19c;
  --orange-5: #ffc27b;
  --orange-6: #ffb770;
  --orange-7: #eea55c;
  --orange-8: #e18d2c;
  --orange-9: #e69132;
  --orange-10: #da8622;
  --orange-11: #ab5b00;
  --orange-12: #54320c;

  --orange-a1: #a4792406;
  --orange-a2: #ffba6f25;
  --orange-a3: #ffe4c7;
  --orange-a4: #ffd29a;
  --orange-a5: #ffc478;
  --orange-a6: #ffa135b7;
  --orange-a7: #e37a00a4;
  --orange-a8: #da7d00da;
  --orange-a9: #e28400;
  --orange-a10: #d27a00;
  --orange-a11: #a75f00;
  --orange-a12: #4c2c00f6;

  --orange-contrast: #fff;
  --orange-surface: #faecdfcc;
  --orange-indicator: #e69132;
  --orange-track: #e69132;
  --orange-background: var(--orange-2);

  --gray-1: #f5f5f5;
  --gray-2: #f0f0f0;
  --gray-3: #e7e7e7;
  --gray-4: #dfdfdf;
  --gray-5: #d7d7d7;
  --gray-6: #cfcfcf;
  --gray-7: #c4c4c4;
  --gray-8: #b1b1b1;
  --gray-9: #828282;
  --gray-10: #777;
  --gray-11: #5a5a5a;
  --gray-12: #1f1f1f;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #828282;
  --gray-track: #828282;

  --color-background: #f8f8f8;

  /* Text stuff... */
  --w-md: calc(min(100% - 2rem, 60rem));
  --w-lg: calc(min(100% - 2rem, 78rem));

  --path-lg: polygon(
    0px calc(100% - 8px),
    8px calc(100% - 8px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 8px,
    0px 8px);
  --path: polygon(
    0px calc(100% - 4px),
    4px calc(100% - 4px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 4px,
    0px 4px
  );
}

@media (prefers-color-scheme: dark) {
  :root {
  --orange-1: #130f0c;
  --orange-2: #1d1712;
  --orange-3: #2d2013;
  --orange-4: #3e250c;
  --orange-5: #4b2e0f;
  --orange-6: #5a3a1a;
  --orange-7: #6f4a26;
  --orange-8: #8f5f30;
  --orange-9: #e69132;
  --orange-10: #da8622;
  --orange-11: #f3ac67;
  --orange-12: #fbe0c8;

  --orange-a1: #d0000004;
  --orange-a2: #fd90350e;
  --orange-a3: #ff94291f;
  --orange-a4: #fb7c0032;
  --orange-a5: #ff8a0c3f;
  --orange-a6: #ff98314f;
  --orange-a7: #fda14766;
  --orange-a8: #ffa54c88;
  --orange-a9: #fe9f36e5;
  --orange-a10: #ff9c26d8;
  --orange-a11: #feb36bf3;
  --orange-a12: #ffe4cbfb;

  --orange-contrast: #fff;
  --orange-surface: #2a1e1480;
  --orange-indicator: #e69132;
  --orange-track: #e69132;
  --orange-background: var(--orange-3);

  --color-background: #101010;

  --gray-1: #101010;
  --gray-2: #191919;
  --gray-3: #232323;
  --gray-4: #2a2a2a;
  --gray-5: #313131;
  --gray-6: #3a3a3a;
  --gray-7: #484848;
  --gray-8: #616161;
  --gray-9: #6f6f6f;
  --gray-10: #7c7c7c;
  --gray-11: #b4b4b4;
  --gray-12: #eee;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6f6f6f;
  --gray-track: #6f6f6f;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--gray-12);
  font-family: "Roboto Mono", monospace;
  font-size: 112.5%;
  line-height: 1.2;
}

  h1 {
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    color: var(--orange-9);
  }

  .info,.links{
    text-align: center;
  }

  .info p {
    font-size: 2rem;
  }

  .info a,
  .links a,
  .link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1;
    margin-top: 1rem;
    color: inherit;
    text-decoration: none;
    padding: 0.35rem 0.5rem 0.25rem 0.5rem;
    border: 4px solid var(--orange-9);
    background-color: var(--orange-1);
  }

  main > * {
    max-width: var(--w-md);
    width: 100%;
    margin: auto;
  }

  header {
    margin-top: 1rem;
  }

  .center > * {
    image-rendering: pixelated;
  }

  .center {
    text-align: center;
    font-weight: 300;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 7rem;
    color: var(--gray-9);
  }

  header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--w-lg);
    width: 100%;
    margin: auto;
  }

  .top-images, .bottom-images {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }

  .top-images {
    align-items: flex-end;
  }

  .bottom-images {
    align-items: flex-start;
  }

  .top-images > *, .bottom-images > * {
    clip-path: var(--path-lg);
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  @media (max-width: 600px) {
    .center {
      display: none;
    }

    .intro {
      margin-top: 2rem !important;
    }

    .top-images > *:nth-child(1){
      display: none;
    }

    .top-images > *:nth-child(2){
      display: none;
    }
    .top-images > *:nth-child(3){
      margin-bottom: 1.5rem;
      display: none;
    }

    .bottom-images > *:nth-child(1){
      margin-top: 1.5rem;
      display: none;
    }

    .bottom-images > *:nth-child(2){
      margin-top: 2.5rem;
    }
    .bottom-images > *:nth-child(3){
      margin-top: 1rem;
      display: none;
    }
  }

  .top-images > *:nth-child(1){
    margin-bottom: 1rem;
  }

  .top-images > *:nth-child(2){
    margin-bottom: 2.5rem;
  }
  .top-images > *:nth-child(3){
    margin-bottom: 1rem;
  }

  .bottom-images > *:nth-child(1){
    margin-top: 1rem;
  }

  .bottom-images > *:nth-child(2){
    margin-top: 2.5rem;
  }
  .bottom-images > *:nth-child(3){
    margin-top: 1rem;
  }

  .intro {
    margin-top: 8rem;
    max-width: var(--w-lg);
  }

  header div a {
    color: inherit;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    padding: 0.35rem 0.5rem 0.25rem 0.5rem;
    border: 4px solid var(--orange-9);
    background-color: var(--orange-1);
  }

  header div a[aria-current="page"] {
    background-color: var(--orange-9);
    color: var(--orange-1);
  }

  a:hover,
  a:active,
  a:focus {
    border-color: var(--orange-10);
    background-color: var(--orange-10);
    color: var(--gray-1);
  }

  html,body {
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
  }

  h2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 6rem;
    text-align: center;
    color: var(--orange-9);
  }

  .link[href^="#"] img {
    transform: rotate(90deg);
    margin-bottom: 4px;
  }
</style>
