---
import { getCollection } from "astro:content";

const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"];
const groups = await getCollection("groups");

const calendar = {};
days.forEach((d) => (calendar[d] = []));
groups.forEach((group) => {
    const groupName = group.data.name;
    if (!group.data.meetings) return;

    group.data.meetings.forEach((meeting) => {
        const day = meeting.day;

        calendar[day].push({
            name: groupName,
            start: meeting.start,
            end: meeting.end,
            location: meeting.location,
        });
    });
});

/* Ugly hack, but I don't know another way of doing this well without breaking what it means to be a "group" */
calendar["Friday"].push({
    name: "General Education",
    start: "12:00",
    end: "14:30",
    location: "GOL-1710/20/30",
});

calendar["Friday"].push({
    name: "General Research",
    start: "14:30",
    end: "16:00",
    location: "GOL-1710/20/30",
});

Object.keys(calendar).forEach((day) => {
    calendar[day].sort((a, b) => {
        return a.start.localeCompare(b.start);
    });
});
---

<div class="carousel" id="calendar-carousel">
    <div class="slide-container">
        {
            days.map((d) => {
                const matching = calendar[d];

                return (
                    <div class="slide">
                        <div class="card">
                            <h3 class="card-header" id={d}>
                                {d}
                            </h3>

                            {matching.map((s) => (
                                <div class="content">
                                    <div class="name">
                                        <strong>{s.name}</strong>
                                    </div>
                                    <div class="time">
                                        {s.start} – {s.end}
                                    </div>
                                    <div class="location">{s.location}</div>
                                </div>
                            ))}
                        </div>
                    </div>
                );
            })
        }
    </div>

    <div class="carousel-scroll-text">← Scroll To View More →</div>
</div>

<script>
    import EmblaCarousel from "embla-carousel";
    import Autoplay from "embla-carousel-autoplay";

    document.addEventListener("astro:page-load", () => {
        const carousel = document.querySelector(
            "#calendar-carousel",
        ) as HTMLElement;

        if (carousel) {
            const emblaApi = EmblaCarousel(
                carousel,
                {
                    loop: true,
                    align: "start",
                },
                [Autoplay({ delay: 3000, stopOnMouseEnter: true })],
            );
        }
    });
</script>

<style>
    h3 {
        margin-bottom: 0;
        text-align: center;
        font-size: var(--lg);
    }

    .slide {
        flex: 0 0 20%;
    }

    .content {
        border-bottom: var(--border);
        width: 100%;
        padding: calc(var(--padding) / 2) var(--padding);
    }

    .content:last-child {
        border-bottom: unset;
    }

    @media (max-width: 1000px) {
        .slide {
            flex: 0 0 33.3333%;
        }
    }

    @media (max-width: 700px) {
        .slide {
            flex: 0 0 50%;
        }
    }

    @media (max-width: 500px) {
        .slide {
            flex: 0 0 100%;
        }
    }
</style>
