---
import { getCollection } from "astro:content";

const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"];
const groups = await getCollection("groups");

const calendar = {};
days.forEach((d) => (calendar[d] = []));
groups.forEach((group) => {
    const groupName = group.data.name;
    if (!group.data.meetings) return;

    group.data.meetings.forEach((meeting) => {
        const day = meeting.day;

        calendar[day].push({
            name: groupName,
            start: meeting.start,
            end: meeting.end,
            location: meeting.location,
        });
    });
});

calendar["Friday"].push({
    name: "General Education",
    start: "12:00:00",
    end: "14:30:00",
    location: "GOL-1710/20/30",
});

calendar["Friday"].push({
    name: "General Research",
    start: "14:30:00",
    end: "16:00:00",
    location: "GOL-1710/20/30",
});

Object.keys(calendar).forEach((day) => {
    calendar[day].sort((a, b) => {
        return a.start.localeCompare(b.start);
    });
});

---

<div class="calendar">
    {
        days.map((d) => {
            const matching = calendar[d];

            return (
                <div class="column">
                    <h3
                        class="day"
                    >
                        {d}
                    </h3>

                    {matching.map((s) => (
                        <div class="e">
                            <div class="name">{s.name}</div>
                            <div class="time">
                                {s.start} – {s.end}
                            </div>
                            <div class="location">{s.location}</div>
                        </div>
                    ))}
                </div>
            );
        })
    }
</div>

<style>
    .calendar {
        display: flex;
        gap: 1.5rem;
    }

    .column {
        flex: 1 1 100%;
        background: var(--bg-panel);
        border: 2px solid var(--border);
    }

    .e {
        border-bottom: 2px solid var(--border);
        padding: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .e:nth-child(odd) {
        background-color: var(--bg-panel);
    }

    .day {
        padding: 2rem;
        background: var(--fg);
        color: var(--bg);
        text-align: center;
        font-size: 1.5rem;
    }

    .active {
        color: var(--accent);
    }
</style>
