---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";

const eboard = await getCollection("eboard");
---

<div class="list">
    {
        eboard.map((member) => (
            <article class="card grid-content">
                <div class="card-img">
                    <Picture
                        src={member.data.image}
                        alt={"Picture of " + member.data.title}
                        width={800}
                        height={800}
                    />
                </div>

                <div class="card-content">
                    <h3>{member.data.name}</h3>

                    <div>{member.data.id}</div>

                    <div>Graduating: {member.data.grad_year}</div>

                    <div class="list">
                        <a
                            href={"mailto:" + member.data.id + "@ritsec.club"}
                            class="link-button primary"
                        >
                            EMAIL
                        </a>

                        <a
                            href={member.data.linked_in}
                            class="link-button secondary"
                        >
                            LINKEDIN
                        </a>
                    </div>
                </div>
            </article>
        ))
    }
</div>

<style>
    .slide {
        display: flex;
        padding: unset;
    }

    h3 {
        margin-bottom: 0;
    }

    .card-content .list {
        padding-top: 1rem;
        margin-top: auto;
    }

    .card-img {
        height: 300px;
    }
</style>
