---
import { getCollection } from 'astro:content';
const education = await getCollection('education');

function compareTerms(termA, termB) {
  const [semA, yearA] = termA.split(' ');
  const [semB, yearB] = termB.split(' ');
  const valA = parseInt(yearA) + (semA === "Fall" ? 0.1 : 0);
  const valB = parseInt(yearB) + (semB === "Fall" ? 0.1 : 0);
  return valB - valA;
}

const sortedEducation = education.sort((a, b) => compareTerms(a.data.term, b.data.term));

console.log(sortedEducation);

const grouped = sortedEducation.reduce((acc, entry) => {
  const year = entry.data.term;
  if (!acc[year]) acc[year] = [];
  acc[year].push(entry);
  return acc;
}, {});
---

{Object.entries(grouped).map(([year, entries]) => (
  <section>
    <h2>{year}</h2>
    <div>
      {entries
      .sort((a, b) => b.data.week - a.data.week)
      .map((entry) => (
        <article>
          <h3>{entry.data.title}</h3>
          <div>
          <span class="week">Week {entry.data.week}</span>
          {entry.data.presenter &&
          <span class="presenter"> &middot; By: {entry.data.presenter}</span>
          }
          </div>
          <div class="description">{entry.data.description}</div>
          <div class="links">
            {entry.data.slideshow &&
            <a class="link-button" href={entry.data.slideshow}>
              Slideshow
            </a>
            }
            {entry.data.video &&
            <a class="link-button" href={entry.data.video}>
              Video
            </a>
            }
            <a class="link-button" href="https://flags.ritsec.club">
              Demo Challenge
            </a>
          </div>
        </article>
      ))}
    </div>
  </section>
))}

<style>
  section {
    max-width: var(--w-sm);
    margin-top: 1rem;
  }

  article {
    margin-top: 1rem;
    padding: 1rem;
    text-align: left;
    background: var(--bg);
    border: 1px solid var(--bg-surface-hover);
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 color-mix(in oklab, var(--fg) 10%, transparent), 0 1px 2px -1px color-mix(in oklab, var(--fg) 10%, transparent);
    transition: all 0.2s ease-in-out; 
  }

  article:hover,
  article:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px 0 color-mix(in oklab, var(--fg) 12%, transparent), 0 2px 4px -2px color-mix(in oklab, var(--fg) 12%, transparent);
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  a {
    color: var(--fg);
    text-decoration: none;
    transition: all 0.1s ease;
  }

  .links {
    text-align: center;
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--fg-primary);
  }
</style>
