---
import { getCollection } from "astro:content";
import { formatTime } from "@/utils.js";
import { Picture } from "astro:assets";

const groups = await getCollection("groups");

const icons = import.meta.glob('../assets/icons/*.svg', { 
  query: '?raw', 
  import: 'default', 
  eager: true 
});
---

<Fragment>
    {
        groups.map((group) => {
            const iconName = group.data.logo.src.split("/").pop().split("?")[0];
            const iconPath = `../assets/icons/${iconName}`;
            const rawSvg = icons[iconPath];

            return (
            <section>
                <div class="content">
                    <h2>{group.data.name}</h2>
                    <div class="info">
                        {group.data.meetings && (
                            <div>
                                {group.data.meetings
                                    .map(
                                        (m) =>
                                            m.day +
                                            " " +
                                            formatTime(m.start, m.end) +
                                            " (" +
                                            m.location +
                                            ")",
                                    )
                                    .join(" • ")}
                            </div>
                        )}
                        <div>
                            {group.data.leads.map((l) => l.name).join(", ")}
                        </div>
                    </div>

                    <p>{group.data.summary}</p>

                    <div class="list">
                        <a
                            class="link-button primary"
                            href={
                                import.meta.env.BASE_URL +
                                "/groups/" +
                                group.slug
                            }
                        >
                            LEARN MORE
                        </a>
                        {group.data.website && (
                            <a
                                class="link-button secondary"
                                href={group.data.website}
                            >
                                WEBSITE
                            </a>
                        )}
                    </div>
                </div>

                <div class="card card-img card-header">
                    <div class="accent">
                        <Fragment set:html={rawSvg} />
                    </div>
                </div>
            </section>
            )})
    }
</Fragment>

<style>
    .list {
        margin-top: auto;
        padding-top: var(--padding);
    }

    .card {
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accent {
        font-size: 8rem;
        line-height: 1;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    h2 {
        margin-bottom: 0;
    }

    .info {
        margin-bottom: var(--padding);
    }

    section {
        display: grid;
        /* 
         * Intentionally flipped to make it more legible, plus it looks
         * strange to me if there's a perfect vertical line.
         */
        grid-template-columns: 1.2fr 1fr;
        gap: var(--padding-lg);
    }

    @media (max-width: 1000px) {
        section {
            grid-template-columns: 1fr;
            text-align: center;
        }
    }

    :global(.accent svg) {
        height: 8rem;
        width: 8rem;
        line-height: 1;
    }
</style>
