---
import { Picture } from "astro:assets";
import { getCollection, getEntry } from "astro:content";
const groups = await getCollection("groups");

const icons = import.meta.glob("../assets/icons/*.svg", {
    query: "?raw",
    import: "default",
    eager: true,
});
---

<div>
    <div class="carousel" id="group-carousel">
        <div class="slide-container">
            {
                groups.map((group) => {
                    const iconName = group.data.logo.src.split("/").pop().split("?")[0];
                    const iconPath = `../assets/icons/${iconName}`;
                    const rawSvg = icons[iconPath];

                    return (
                    <div class="slide">
                        <article class="card">
                            <div aria-hidden="true" class="card-header">
                                <div class="accent">
                                    <Fragment set:html={rawSvg} />
                                </div>
                            </div>

                            <div class="card-content">
                                <h3>{group.data.name}</h3>
                                <p class="expand">{group.data.summary}</p>

                                <div class="list">
                                    <a
                                        href={
                                            import.meta.env.BASE_URL +
                                            "/groups/" +
                                            group.slug
                                        }
                                        class="link-button primary"
                                    >
                                        LEARN MORE
                                    </a>
                                    {group.data.website && (
                                        <a
                                            href={group.data.website}
                                            class="link-button secondary"
                                        >
                                            WEBSITE
                                        </a>
                                    )}
                                </div>
                            </div>
                        </article>
                    </div>
                    )})
            }
        </div>
    </div>

    <div class="carousel-scroll-text">← Scroll To View More →</div>

    <noscript>
        <a
            href={import.meta.env.BASE_URL + "/groups"}
            class="link-button primary">VIEW ALL GROUPS</a
        >
    </noscript>
</div>

<script>
    import EmblaCarousel from "embla-carousel";
    import Autoplay from "embla-carousel-autoplay";

    document.addEventListener("astro:page-load", () => {
        const carousel = document.querySelector(
            "#group-carousel",
        ) as HTMLElement;

        if (carousel) {
            const emblaApi = EmblaCarousel(
                carousel,
                {
                    loop: true,
                    align: "start",
                },
                [Autoplay({ delay: 3000, stopOnMouseEnter: true })],
            );
        }
    });
</script>

<style>
    .card-header {
        text-align: center;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .list {
        margin-top: auto;
        padding-top: var(--padding);
    }

    :global(.accent svg) {
        height: 8rem;
        width: 8rem;
        line-height: 1;
    }
</style>
