---
import favicon from "@/assets/favicon.svg";

interface Props {
  title: string;
  description?: string;
}

const canonicalUrl = new URL(Astro.url.pathname, import.meta.env.SITE).href;

const { title, description } = Astro.props;
---
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{ title } | RITSEC</title>
  {description && <meta name="description" content={description} />}
  <link rel="icon" type="image/svg+xml" href={favicon.src} />
  <link rel="canonical" href={canonicalUrl} />
  
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalUrl} />

  <meta name="generator" content={Astro.generator} />
</head>
