---
import { getCollection } from "astro:content";
import {formatDate} from "@/utils.js";

const allResearch = await getCollection("research");

interface Props {
    group?: string;
    count?: number;
}

const { group, count } = Astro.props;

const featuredResearch = allResearch
    .filter((post) => {
        if (!group) return true;
        return post.data.group?.id === group;
    })
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, count);
---

<div class="list">
    {
        featuredResearch.map((post) => (
            <a href={"/research/" + post.slug} class="card">
                <article class="card-content">
                    <div>
                        <time datetime={post.data.date.toISOString()}>
                            {formatDate(post.data.date)}
                        </time>

                        {post.data.group && (
                            <span>
                                • {post.data.group.id.toUpperCase()}
                            </span>
                        )}
                    </div>

                    <h3>{post.data.title}</h3>

                    <div>
                        {post.data.authors.length > 0 ? (
                            <span>
                                {post.data.authors.map((a) => a.name).join(", ")}
                            </span>
                        ) : (
                            <span>RITSEC</span>
                        )}
                    </div>
                </article>
            </a>
        ))
    }

    {
        featuredResearch.length === 0 && (
            <p>No research papers found.</p>
        )
    }
</div>

<style>
    .list {
        flex-direction: column;
    }

    h3 {
        margin-bottom: 0;
    }
</style>
