---
import { getCollection } from "astro:content";
import Schedule from "@/components/Schedule.jsx";

interface Props {
    group?: string;
    count?: number;
    ascending?: boolean;
    showOld?: boolean;
}

const { group, count, ascending = true, showOld = false } = Astro.props;

const allEvents = await getCollection("schedule");
---

<Fragment>
    <Schedule
        data={allEvents}
        count={count}
        group={group}
        ascending={ascending}
        showOld={showOld}
        client:load
    />
    <noscript>
        <p>
            Sorry, the interactive schedule requires JavaScript. Please enable
            it to filter by semester or group.
        </p>
    </noscript>
</Fragment>
